/* Image Container */
.slideshow-container {
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
  }
  
  /* Overlay */
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* Initially, set the overlay to fully transparent */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; /* Text color */
    text-align: center;
    font-size: 24px; /* Adjust text size */
    opacity: 0; /* Initially, the overlay is not visible */
    transition: opacity 0.3s, background-color 0.3s; /* Add a smooth transition effect for opacity and background-color */
  }
  
  /* Hover Effect */
  .slideshow-container:hover .overlay {
    opacity: 1; /* Make the overlay visible on hover */
    background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity (0.5 for 50% opacity) */
  }
  
  .imageStyle {
    width: 100%;
    height: 100%;
    opacity: 1; /* Set initial opacity to 1 (fully visible) */
    transition: transform 0.3s, opacity 0.3s; /* Add a smooth transition effect for transform and opacity */
  }

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.5s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    border: none;
    background-color: transparent
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }

.displayNone {
    display: none;
}

.displayBlock {
    display: block;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 13px;
    width: 100%;
    text-align: center;
    float: left;
}

/* Fading animation */
.fade {
    width: 100%;
    height: 100%;
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

